:root {
     --color-pink:#ed1b76; 
     --color-pink-white: #f44786;
     --color-white:#ffffff;
     --color-bleu-green:#249f9c;
     --color-green:#037a76 ;
     --color-gold:#d4af37;
     --color-black:"black";
     --background-url:"../Pictures/SquidGameBG.jpg";
     --background-url-rule:url("../Pictures/squid-game-feature-image.png");

    --size-h1:1.8em;
    --size-btn:1em;
    --size-h3:2.7em;
    --size-p-footer:1.3em;
    --size-p:1.5em;
}

@font-face {
    font-family: SquidGame;
    src: url("../font/Game\ Of\ Squids.ttf");
  }

  h1 {
      font-family: SquidGame;
      font-size: var(--size-h1);
      margin-right: 10%;
      width: 60%;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 30px;
}
  h3{
    background-color: transparent;
    margin: auto;
    font-size: var(--size-h3);
    color: var(--color-black);
    font-weight: bolder;
}
strong {
    font: bold;
    color: var(--color-green);
}
div {
    font-family: "MontSerrat", sans-serif;
    font-size: 25px;
}
  body{
    width: 100%;
    height: 100vh;
    background-image:url("../Pictures/SquidGameBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    overflow-y: hidden; 

  }

  main{
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
  }
  
               /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                          Button, title and texte position                              ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */

  .buttonPosition {
    position: absolute;
    bottom: 20%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
    .titlePosition {
    position: absolute;
    top: 20%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

    .txtPosition {
    position: absolute;
    font-size: 30px;
    bottom: 60%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

    /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                              Nav                                                      ////
  ///                                                                                         ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */
  nav{
    background-color:var(--color-pink) 	 ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: 5vh;
    width: 100%;
  }

  #backToHomePage{
      width: 10%;
      height: auto;
      background-color: transparent;
      margin-right: 20%;
      margin-left: 2%;
      margin-bottom: 2%;
      margin-top: 2%;
  }
  .fa-hotel{
      font-size: 250%;
      color: var(--color-white);
  }
  #backToHomePage:hover{
      color: var(--color-bleu-green);
  }

      /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                              Button Squid Game                                        ////
  ///                                                                                         ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */


  /* button rond */
  #rules{
    width : 200px;
    height : 200px;
/*     background : var(--color-pink-white); */
    -moz-border-radius : 50px;
    -webkit-border-radius : 50px;
    border: var(--color-pink-white) solid 15px;
    border-radius : 100px;  /* ou 50% */
    background: transparent;
  }
  #rules:hover{
      transform:translate(15px,5px) ;
      border: var(--color-green) solid 25px;
  }

  /* button triangle */
  #start {
    width:200px;
    background-image: url("../Pictures/TSG2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    border: transparent;
}
    #start:hover{
    background-image: url("../Pictures/TSGred.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    border: transparent;
    transform:translate(15px,5px) ;
}

/* button carre */
#hallOfFame{
    width: 200px;
    height: 200px;
    border: var(--color-pink-white) solid 15px;
    background: transparent;
}
#hallOfFame:hover{
    transform:translate(15px,5px) ;
    border: var(--color-gold) solid 25px;
}


      /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                             HOME                                                      ////
  ///                                                                                         ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */
#homePage{
    margin-top: 15%;
}
.home{
    display: flex;
    justify-content: space-around;
}

.hidden{
    display: none;
}

      /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                              Page Name Player                                         ////
  ///                                                                                         ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */
    #selectPlayers{
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 10%;
    }

    .button{
        display: flex;
    }
    .button button {
        margin-right: 10%;
        background: var(--color-gold);
       background-image: url("../Pictures/CardsquidGame.png");
       width: 100%;
       margin-bottom: 10%;
       font-size: 1.5em;
       height: 8vh;
       background-repeat: no-repeat;
       background-size: 100%;
       background-position: center;
       color: var(--color-white);
       font-weight: bolder;
    }

    #solo:hover {
       transform: translate(5%,2%);
       border: solid 0.2em var(--color-bleu-green);
    }
    #multiplayers:hover{
        transform: translate(5%,2%);
        border: solid 0.2em var(--color-bleu-green);
    }

          /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                              Page Name Player                                         ////
  ///                                partie input                                             ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */

  .inputplayer{
      display: flex;
      justify-content: space-around;
      margin-bottom: 10%;
      flex-direction: row;
  }
  .inputplayer input{
      margin-right: 5%;
      size: 3em;
  }

  .inputPLayerUsername {
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.4s ease-out;
}

  .inputplayer{
      font-size: var(--size-p);
  }


  /* Boutton GO play */
  #Goplay{
    width: 40%;
    margin: auto;
  }

           /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                            GAME CHOICE                                                 ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */
  #usernameGameChoice{
      position: absolute;
      width: 25%;
      height: 40px;
      background-color: #00000044;
      top: 30%; 
      left: 50%; 
      transform: translate(-50%, -50%);
  }
  #matriculeGameChoice {
    position: absolute;
    width: 25%;
    height: 40px;
    right: 2%;
    top: 7%;
    font-size: 30px;
    background-color: #00000044;
    margin-left: auto;
    margin-right: auto;
  }
   
  #btnMarbles {
    position: absolute;
    bottom: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    }

           /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                           GAMES SECTIONS                                                    ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */
#IAGuess{
    width: 100%;
    height: 100vh;
}

#IAGameGuess {
    width: 100%;
    height: 100vh;
}

#gameover {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

           /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                           EVEN OF ODD PLAYER                                           ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */

#odd {
    height: 15vh;
    position: absolute;
    top: 45%;
    right: 25%; 
}
#even {
    position: absolute;
    height: 15vh;
    top: 45%;
    left: 25%; 
}

            /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                              Footer                                                   ////
  ///                                                                                         ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */
  footer{
      display: flex;
      flex-direction: row;
      height: 5vh;
      background-color: var(--color-pink);
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0%;
  }
  .nameFooter{
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin-left: 2%;
      width: 80%;
      margin-bottom: 1%;
  }
  .nameFooter p{
      margin-right: 1%;
      color: var(--color-green);
      font-weight: bolder;
      font-size: var(--size-p-footer);
      text-shadow: 0.2em 0.2em 0.3em var(--color-white);
  }
  ul {
      display: flex;
      flex-direction: row;
  }
  li {
      margin-right: 4%;
      color: var(--color-green);
      font-weight: bolder;
      font-size: var(--size-p-footer);
      text-shadow: 0.2em 0.2em 0.3em var(--color-white);
  }
  .lien {
      margin-right: 2%;
      width: 10%;
      height: 3.9vh;
  }

  .lien img{
    height: 3.9vh;
  }
  .lien img:hover{
    height: 4.2vh;
  }
  

/* 
  ┌─┐┌─┐░░░░┌┐░░┌┐░
  ││└┘││░░░░││░░││░
  │┌┐┌┐├──┬─┘├──┤│░
  ││││││┌┐│┌┐│┌┐││░
  ││││││└┘│└┘│┌┐│└┐
  └┘└┘└┴──┴──┴┘└┴─┘ */
  
#modalRules{

      background-color: var(--color-bleu-green);
      color: var(--color-gold);
      font-size: var(--size-p);
      font-weight: bolder;
     width: 60%;
      position: absolute;
      right: 20%;
      left: 20%;
      top: 10%;
      border-radius: 15px;  
  }
  .modal-card{
      margin: 2% 5%;
  }
  #closeRules{
      width: 11%;
        margin-left: 82%;
      background-color: var(--color-green);
      color: var(--color-white);    
  }
  button.delete:hover{
    transform: scale(1.2,1.2) ;
  }
  .modal-card-title{
      margin-bottom: 2%;
  }

  #RulesM{
    background: rgba(0, 0, 0, 0.877);
    position: absolute;
    width: 100%;
    height: 100vh;
    top:0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    /* z-index: 0; */
  }

             /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                            CLASS BUTTON EFFECT                                         ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */


  .btnLigthEffect{
    display: block;
    font-size: 20px;
    font-family: SquidGame;
    margin: 10px;
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
  }

  .btnLigthEffect::after {
    content: '';
    height: 240px;
    width: 100px;
    background: rgba(255,255,255,0.4);
    display: block;
    position: absolute;
    left: -150px;
    top: -50px;
    transform: rotate(-45deg);
}
.btnLigthEffect:hover::after {
    transition: transform 0.3s 0.1s linear;
    transform: translateX(400px);
}
